.file-upload-container{
    display: flex;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-style: dashed;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form{
    text-align: center;
}

input[type = "file"]{
    width: 180px;
}